<div id="log">
	<button id="share-purified">Share Purified !</button>
	<input type="hidden" name="url" id="url" value="<%= url %>"/>
	<input type="hidden" name="items" id="items" value=""/>

</div>
<iframe id="proxy-frame" src="/proxy?url=<%= url %>" style="border:0px;"></iframe>
